<div class="feature-section">
    <div class="feature1">
        <h2 class="feature1">Feature One</h2>
        <p>This is the description for feature one.</p>
    </div>
    <div class="container">
        <div>
            <h2 class="feature2">Feature Two</h2>
            <p>This is the description for feature two.</p>
        </div>
        <a href="#" class="feature2-a">link</a>
    </div>
    <button (click)="startTour()">Start Tour</button>

    <div>
        <ul>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li>li</li>
            <li class="feature2-li">li</li>
        </ul>
        <button class="feature3">Feature three</button>
    </div>
</div>